.authLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  
    p {
      margin: 0;
    }
  
    .checkbox {
      display: flex;
      justify-content: center;
      gap: 5px;
      margin-top: 30px;
    }
  
    form {
      width: 80%;
     
      .inputGroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    
        input {
          position: relative;
          padding: 13px 30px;
          border-radius: 10px;
          border: 1px solid grey;
          margin-top: 10px;   
        }
    
      }
    
      button {
        align-self: center;
        width: 100%;
        background-color: #34A67B;
        padding: 13px;
        margin-block: 2px; 
        margin-top: 13px;
        border-radius: 7px;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: transparent;
          color: #34A67B;
          border: 1px solid #34A67B;
          box-shadow:1px 1px 5px  rgb(187, 187, 187) ;
        }
      }
    }
    .extraOptions {
      display: flex;
      justify-content: center;
      padding: 2px 0; 
      align-items: center;
      margin: auto;
      color: #34A67B;
      text-align: center;
      
    }
    
    .grey {
      color: grey;
    }
  
    .googleSignIn {
      display: flex;
      justify-content: center;
      margin-block: 20px;
      border: 1px solid grey;
      padding-bottom: 5px;
      width: 70%;
      border-radius: 4px;
  
      span {
        margin-top: 12px;
        // margin-inline: 5px;
      }
  
      button {
        border: none;
      }
    }
  
    div:last-child {
      // border: solid;
      margin: 10px;
      width: 100%;
      margin: auto;
      text-align: center !important;
  
      p {
        font-size: 15px;
      }
    }
  }
  
  .title {
    display: flex;
    align-items: center;
    gap: 20px;
  
    img {
      width: 100px;
      height: 60px;
    }
  
    h3,
    p {
      margin: 0rem;
    }
  }